
<div class="box">
<h1>スレッド一覧</h1>
  <%= link_to 'スレッド作成', new_board_path, class: 'btn btn-primary mb-4 url' %>
</div>
<hr>

<% @boards.each do |board| %>
  <div class="mb-3">
    <%= link_to board.title, board_path(board),class: 'top' %>
    <div>
    <span>作成者:</span>
    <%= board.author %>
    </div>
    <div >
    <span>作成日時:</span>
    <%= board.created_at %>
    </div>
  </div>
  <hr>
<% end %>

<%= paginate @boards %>