
<%= link_to '戻る', boards_path %>
<h1><%= @board.title %></h1>

<%= link_to 'コメントする', new_board_post_path(@board) %>

<% @posts.each do |post| %>
  <div>
    <p><%= post.contributor %></p>
    <p><%= simple_format(post.content) %></p>
    <p><%= post.created_at %></p>
  </div>
<% end %>
