
<%= link_to '戻る', boards_path, class: 'btn btn-light mb-3' %>
<h1><%= @board.title %></h1>

<%= link_to 'コメントする', new_board_post_path(@board), class: 'btn btn-primary mb-4' %>

<% @posts.each do |post| %>
  <div>
    <div>
    <%= post.id %>.
    <%= post.contributor %>
    <%= post.created_at %>
    </div>
    <div><%= simple_format(post.content) %></div>
  </div>
<% end %>
