<%= link_to '←戻る', board_path(@board) %>
<h1>コメントする</h1>

<%= form_with model: [@board, @post] do |form| %>
  <%= form.label :contributor, '投稿者名' %>
  <%= form.text_field :contributor %>

  <%= form.label :content, 'コメント' %>
  <%= form.text_area :content %>

  <%= form.submit '投稿' %>
<% end %>

